# Momento de Retroalimentación: Módulo 1 Construcción de un modelo estadístico base (Portafolio Implementación)

## 2.2.1 About descriptive statistics

### 2.2.1.1 Considering the most recent financial quarter of the dataset

In [170]:
# Importar las librerias necesarias

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from symbulate import *

In [180]:
# Importar el archivo

df = pd.read_csv("us2022q2a.csv")
df_firm = pd.read_csv("usfirms2022.csv")

In [181]:
# Dividirlo por periodo
df['qdate'] = pd.PeriodIndex(df['q'], freq="Q")
# Convertirlo en multi data para que se divida cada empresa por el periodo
df.set_index(['firm','qdate'], inplace=True)

In [173]:
#df.index
df['lprice'] = df.groupby(['firm'])['adjprice'].shift(4)

#### Show how many firms by industry there are in the sample:
Cada empresa hay un total de 90 Ticker

In [145]:
# Merge con otra tabla para ver la relación entre 'firm' y 'Ticker'
df_merge = pd.merge(df, df_firm, left_on='firm', right_on='Ticker', how='left')
df_merge.groupby('Ticker').count()
# df_merge.groupby('Ticker').count().head()

,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,...,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
Ticker,,,,,,,,,,,,,,,,,,,,,
A,90,87,87,87,87,87,87,87,89,89,...,90,90,90,90,90,90,90,90,90,90
AA,90,24,24,24,24,24,24,24,24,24,...,90,90,90,90,90,90,90,90,90,90
AAIC,90,78,78,78,78,78,78,78,78,78,...,90,90,90,90,90,90,90,90,90,90
AAL,90,90,90,90,90,90,90,90,90,90,...,90,90,90,90,90,90,90,90,90,90
AAME,90,45,45,45,45,45,45,45,45,45,...,90,90,90,90,90,90,90,90,90,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZVIA,90,5,5,5,5,5,5,5,5,5,...,90,90,90,90,90,90,90,90,90,90
ZVO,90,45,45,45,45,45,45,45,45,45,...,90,90,90,90,90,90,90,90,90,90
ZWS,90,41,41,41,41,41,41,41,42,42,...,90,90,90,90,90,90,90,90,90,90
ZY,90,6,6,6,6,6,6,6,6,6,...,90,90,90,90,90,90,90,90,90,90
ZYNE,90,28,28,28,28,28,28,28,29,29,...,90,90,90,90,90,90,90,90,90,90

#### For each industry (and for all industries), what can you say about the typical firm size in terms of market value and book value? How much these variables change within each industry? How firm size (in market value) is distributed?

In [208]:
# Markt value de cada empresa por año

markt_value = df['originalprice'].shift(4) * df['sharesoutstanding'].shift(4)
markt_value

firm  qdate
A     2000Q1             NaN
      2000Q2             NaN
      2000Q3             NaN
      2000Q4             NaN
      2001Q1    4.700800e+07
                    ...
ZYNE  2021Q2    8.408355e+04
      2021Q3    9.683463e+04
      2021Q4    9.714928e+04
      2022Q1    1.918196e+05
      2022Q2    2.182206e+05
Length: 324446, dtype: float64